$('#employees').html('#{escape_javascript render(@employees)}');
$('#pagination').html('#{escape_javascript(paginate(@employees, :remote => true, :theme => 'twitter-bootstrap-3').to_s)}');
$('#counter').html('#{escape_javascript(page_entries_info(@employees, :remote => true).to_s)}');