/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */
 
@import "bootstrap-sprockets";

@import "bootstrap";

.container-fluid{
	height: 80px;
	background-color: #005C95;
	border-bottom-color: #004874;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	position: relative;
	top: 0;
	width: 100%;
}

.container-fluid h2{
	padding-top: 10px;
	color: #fff;
	font-size: 18px;
	margin-left: 0;
	margin-right: 0;
}

.subnav {
	top: 0px;
	height: 30px;
	z-index: 1020;
	background-color: #D5EDFA;
	border-bottom: 1px solid #E1E1E1;
	padding: 4px 15px 0px 0px;
	color: #005C95;
	text-align: right;
}
.yield {
	padding: 100px;
	top: 0px;
	position: relative;
	bottom: 38px;
	margin-bottom: 38px;
}

.container {
	height: 38px;
	background-color: #005C95;
	text-align: center;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.nav-tabs active {
	background: #555;
}

.dropdown {
	vertical-align: middle;
	float: right;
	padding-top: 23px;
	padding-bottom: 23px;
}

h2 {
	float: left;
}
