!!!
%html
	%head
		%meta{:content => "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
		%title Phone
		= stylesheet_link_tag	'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		.container-fluid
			%h2 Telefonverzeichnis
		.subnav
			Service contact: +49 (0) 7531 97 69 48 88 | techsupport@lifecodexx.com
		.yield
			%ul.nav.nav-tabs
				%li.active{:role => "presentation", :class => "active"}
					%a{:href => "/employees/"} Mitarbeiter
				%li.active{:role => "presentation"}
					%a{:href => "/departments/"} Abteilungen 
			= yield
		.container
			hi
