!!!
%html
	%head
		%meta{:content => "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
		%title Phone
		= stylesheet_link_tag	'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		.top-menu
			%h2
				%a{:href => "/employees/"} Mitarbeiter
				%a{:href => "/departments/"} Abteilungen
		.yield
			= yield
		.bottom-menu
